<div class="banner home">
  <h1>Movie Club</h1>
</div>

<div class="main-container">
  <h2>What are you in the Mood for?</h2>
  <div class="card-container-flex">
    <% @lists.each do |list| %>
        <div class="list-card">
          <div><%= cl_image_tag list.photo.key, height: 200, width: 300, crop: :fill %></div>
          <div class="vertical-align"><%= link_to list.name, list %></div>
        </div>
    <% end %>
  </div>
</div>

